<%= form_with(model: product_image) do |form| %>
  <% if product_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_image.errors.count, "error") %> prohibited this product_image from being saved:</h2>

      <ul>
        <% product_image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
